
[data-theme='light'] {
  body {
    color: #949597;
    background: #d8e0ec;
  }
  .preloader {
    background-color: #f1f1f1;
    .black_wall {
      background-color: #f5f5f5;
    }
  }
  .theme-btn {
    &:hover {
      background: #5b78f6;
      color: #ffffff;
    }
  }
  .shadow-box {
    background: rgb(245, 245, 245, 75%);
	
  }
  .section-heading {
    color: #0f0f0f;
  }
  .about-area {
    .about-edc-exp .overlay-link,
    .about-image-box .overlay-link,
    .about-me-box .overlay-link {
      top: 0;
    }
  }
  .info-box {
  .infos {
    h4 {
      color: #505050; 
    }
    h1 {
      color: #303030; 
    }
  }
  .inner-profile-icons {
    background: #f8f8f8; 
    a {
      background: #e6e6e6; 
      color: #303030; 
      &:hover {
        background: #d4d4d4; 
        color: #2563eb; 
      }
      &:before {
        background: linear-gradient(
          120deg,
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.02)
        );
      }
    }
  }
  &.about-client-box .clients .client-item {
    background: #ffffff; 
    h1 {
      color: #303030; 
    }

    p {
      color: #606060;
    }
  }

  &.about-contact-box {
    h1 {
      color: #303030;

      span {
        color: #2563eb; 
      }
    }
  }
}
  /* # Header */

  .header-area {
    .navbar {
      .menu {
        li {
          a {
          &.active a,
          a:hover {
            color: #5b78f6;
          }
        }
      }
    }
    .show-menu {
      color: #0f0f0f;
      span {
        background: #0f0f0f;
      }
    }
  }
    /* # About */
  .about-area {
  .about-me-box {
    .infos {
        h1 {
          color: #0f0f0f;
        }
	}
  }
  }
  .about-area {
    .about-credentials-wrap {
      .banner .marquee {
        b {
          color: #5b78f6;
        }
      }
    }
    .about-details {
      flex: 1;
      .about-details-inner {
        h1 {
          color: #0f0f0f;
        }
        p {
          color: #000000;
          opacity: 0.4;
        }
      }
    }
    .about-edc-exp {
      h3 {
        color: #0f0f0f;
      }
      ul li {
        h2 {
          color: #5b78f6;
        }
      }
    }
  }
    /* # Project */

  .projects-area {
    .project-item {
      .project-info {
        h1 {
          color: #0f0f0f;
        }
      }
    }
  }
    /* # Project Details */

  .project-details-wrap {
    .theme-btn {
      color: #ffffff;
    }
    .project-about-2 .left-details:before {
      opacity: 0.95;
      background: #fbfbfc;
    }
    .project-infos-wrap .project-details-info {
      &::before {
        opacity: 0.95;
        background: #fbfbfc;
      }
      p {
        color: #000000;
        opacity: 0.4;
      }
      h3 {
        color: #0f0f0f;
      }
    }
    .project-about-2 {
      .left-details {
          h4 {
            color: #5b78f6;
          }
        }
      }
      .right-details {
        h3 {
          color: #0f0f0f;
        }
        p {
          color: #000000;
        }
      }
    }
    .big-btn {
      color: #5b78f6;
    }
  }
  /* # Credentials */

  .credential-area {
    .credential-sidebar {  
      h2 {
        color: #0f0f0f;
      }
      .social-links {
        gap: 10px;
        margin-bottom: 36px;
        li a {
          color: #5b78f6;
          background: #fbfbfc;
        }
      }
    }
    .credential-edc-exp h2 {
      color: #0f0f0f;
    }
    .credential-content .credential-about {
      h2 {
        color: #0f0f0f;
      }

      p {
        color: #000000;
        opacity: 0.4;
      }
    }
    .credential-edc-exp {
      .credential-edc-exp-item {
        p {
          color: #000000;
          opacity: 0.4;
        }
      }
    }
    .skills-wrap {
      h2 {
        color: #0f0f0f;
      }
      .skill-item {
        .name {
          color: #5b78f6;
        }
      }
    }
  }
  
  
  
  
  



  /* # Service */

  .service-area {

    .service-sidebar {
      .service-sidebar-inner {
        ul {
          li {
            color: #0f0f0f;
            i {
              color: #5b78f6;
            }
          }
        }
      }
    }
    .service-content-wrap .service-content-inner {

      .service-item {
        background: #fbfbfc;
        border-radius: 30px;
        h3 {
          color: #0f0f0f;
        }

        p {
          color: #000000;
          opacity: 0.4;
        }
      }
    }
  }


  /* # Contact */

  .contact-area {

    .contact-form {
      h1 {
        color: #0f0f0f;
      }

      form .input-group {

        textarea,
        input {
          opacity: 0.95;
          background: #fbfbfc;
          color: #0f0f0f;
        }
      }
    }
    .contact-infos {
      h3 {
        color: #0f0f0f;
      }
      .contact-details {

        li {
          .icon-box {
            color: #5b78f6;
          }

          .right {
            span {
              color: #7400c2;
            }

            h4 {
              color: #000000;
              opacity: 0.4;
            }
          }
        }
      }
    }

    .social-links {
      gap: 20px;

      li a {
        color: #5b78f6;
      }
    }
  }
  /* # Footer */
  .footer-area .footer-content {

    .footer-menu {
      li a {
        color: #676767;
        &:hover {
          color: #5b78f6;
        }
      }
    }
  }
  .langc {
    position: relative;
    display: inline-block;
  }
  /* Botón circular principal */
  .langc__button {
    border: 2px solid #ccc;
    background: #f8fafd;
    box-shadow: 0 1px 6px #a0a5b1a0;
  }
  .langc__button:hover,
  .langc__button--active,
  .langc__button:focus-visible {
    border-color: #41a0db;
    background: #e7f2fb;
    box-shadow: 0 4px 19px #2980ef26;
  }


  .langc__sticker {
    box-shadow: 0 2px 7px #16224c18;
  }

  .langc__menu {
    background: #fff;
    border: 2px solid #aad0f2;
    box-shadow: 0px 8px 40px #1c3a6c26;
  }

  .langc__item {
    color: #222;
  }
  .langc__item:focus,
  .langc__item:hover {
    background: #e1eafd;
  }
  .langc__item--active,
  .langc__item[aria-current="true"] {
    background: #e7f1fc;
    border-left: 4px solid #41a0db;
  }
  .langc__item-sticker {
    background: #e0edfa;
    border: 1.1px solid #b6daf9;
  }



.table-responsive {
  th, td {
  background-color: rgb(255, 255, 255);
  color:black;
  }
  tr {
    background-color: black;
    
  }
}
.canvasButton {
    background-color: royalblue;
  }
  .modalCanvas {
    background-color: rgb(228, 238, 244);
    border: #000;
    border-radius: 0%;
    h4, h5, p {
      color:black;
    }
  }
  .uLmodalCanvas {
    li {
      background-color: rgb(141, 147, 150);
    }
  }

ul.technology-list,
ul.feature-list {
  background-color: #f0f0f0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Elementos individuales */
.technology-list li,
.feature-list li {
  border-left: 4px solid #007acc;
  background-color: #f8f9fa;
  color: #333;
}

/* Hover */
.technology-list li:hover,
.feature-list li:hover {
  background-color: royalblue;
}


}
